*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 100vw;
    height: 100vh;
    background-color: rgba(171, 147, 226, 0.973);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo{
    width: 20vw;
    height: 80vh;
    background-color: rgb(240, 224, 10);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    box-shadow: 30px 40px 100px rgb(31, 30, 30);
}

.bordePantalla{
    display: flex;
    width: 90%;
    height: 40%;
    margin-top: 20PX;
    background-color: rgb(54, 54, 54);
    border-radius: 20px 20px 100px 100px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: 5px solid black;
}

.btonred{
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: -100px;
    border-radius: 100%;
    border: 5px solid black;
    box-shadow: 3px 3px 10px black;
}

.screen{
    width: 65%;
    height: 65%;
    background-color: rgb(199, 197, 197);
    border-radius: 10px;
    margin-top: -35px;
    margin-right: 60px;
    border: 4px solid black;
    
}

.bordeCuerpo{
    margin-top: 10px;
    background-color: rgb(240, 224, 10);
    width: 90%;
    height: 50%;
    border: 1px solid tansparent;
    border-radius: 50%;
}

.botonAmarillo{
    display: flex;
    background-color: rgb(240, 224, 10);
    width: 100%;
    height: 33.33333%;
    justify-content: center;
}

.botones{
    margin-top: -50px;
    display: flex;
    background-color: black;
    width: 100%;
    height: 33.3333333333%;
}

.selecStar{
    display: flex;
    background-color: rgb(240, 224, 10);
    width: 100%;
    height: 33.3333333333333%;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    border-radius: 10%;
    margin-top: 5px;
}

.mitad{
    display: flex;
    border: 5px;
    border-style: solid solid solid dashed;
    border-radius: 40%;
    width: 40%;
    height: 20%;
    background-color: rgb(240, 224, 10);
    justify-content: center;
    box-shadow: 3px 3px 8px black;
}

.luz{
    border: 3px solid transparent;
    border-radius: 40%;
    width: 85%;
    height: 1%;
    background-color: #fff;
    margin-top: 1px;
    /*margin-left: 20px;*/
}
.contD{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 224, 10);
    border: 5px solid transparent;
    border-radius: 10%;
}

.selec{
    width: 20%;
    height: 10%;
    background-color: rgb(54, 54, 54);
    margin: 10px;
    border: 5px solid black;
    border-radius: 50px;
}

.start{
    width: 20%;
    height: 10%;
    background-color:rgb(54, 54, 54);
    margin: 10px;
    border: 5px solid black;
    border-radius: 50px;
}

.luzIz{
    margin-top: -80px;
    height: 65%;
}

.flechas{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgb(240, 224, 10);
    align-items: center;
    justify-content: center;
}

.ayb{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgb(240, 224, 10);
    align-items: center;
    justify-content: center;
}

.funcion{
    border: 5px solid black;
    width: 35%;
    height: 45%;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
}

.funcion.a{
    margin-top: 40px;
    margin-left: 5px;
}

.funcion.b{
    margin-top: -40px;
    margin-left: 10px;
}

.center{
    width: 30px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border: 5px solid transparent;
}

.up{
    margin-top: -75px;
    margin-left: -40px;
    width: 30px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border: 5px solid black;
    border-bottom: transparent;
}

.dow{
    margin-top: 75px;
    margin-left: -40px;
    width: 30px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border: 5px solid black;
    border-top: transparent;
}

.lef{
    margin-top: 0px;
    margin-left: -75px;
    width: 30px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border: 5px solid black;
    border-right: transparent;
}

.rig{
    margin-top: 0px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border: 5px solid black;
    border-left: transparent;
}
